.merise_learn {
    display: flex;
    margin-top: 3em;
    align-items: center;
    padding: 20px;
}

.merises {
    padding-left: 10px;


}

.container_merise {
    margin-top: 5em;
    margin-right: 3em;
    margin-left: 3em;
}

.word {
    color: rgba(0, 128, 255, 0.858);
}

.merises {
    font-family: 'Courier New', Courier, monospace;
}

.separator {
    width: 50%;
}

@media (min-width: 350px) and (max-width: 767px) {
    .merise_learn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .merise_picture {
        padding-top: 50px;
    }
}