.modal {
    background-color: rgba(0, 0, 0, 0.751);
    border: solid 1 red;
    color: rgba(255, 255, 255, 0.953);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.modal_footer {
    font-size: x-large;
}

.modal_header {
    margin: 10px;
}

.modal_body {
    display: flex;
    justify-content: center;
}