.btn_scroll_position {
    position: fixed;
}

.scroll {
    z-index: 999;
    background-color: rgb(125 102 240);
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: "pointer";
}