.btn.variant {
    border-radius: 10%;
    background-color: rgba(60, 132, 210, 0.844);
    color: white;
    border-style: none;
    cursor: pointer;
}

.btn.sizeM {
    height: 2rem;
    width: 5rem;
}

.btn_closeModal {
    border-style: none;
    background-color: rgb(232, 129, 129);
}

.btn.random {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    cursor: pointer;
    margin: 0.5em;
    padding: 1em 2em;
    box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.btn.random:hover {
    background-color: #4681f4;
}