/* * {
    padding: 0;
    margin: 0;
} */

.page_border {
    padding-left: 30px;
    padding-right: 30px;
}

.h1 {
    font-family: serif, 'Times New Roman', Times;
}

.h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}