.header_container {
    display: flex;
    border: solid rgb(238, 245, 238);
}

.header_logo {
    display: flex;
    justify-content: flex-start;
}

.header_container_links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_link {
    padding-left: 15px;
    padding-right: 15px;
}