.card {
    border-radius: 10px;
    margin: 10px;
}

.card.sizeM {
    height: 20vh;
    width: 25vh;
    cursor: pointer;
}

/* .card.sizeM:hover {
    height: 30vh;
    cursor: pointeur;
} */

.card.design {
    border: solid 1px rgb(43, 6, 142);
}

.card_title {
    font-size: 1rem;
}