.card {
    background-color: rgb(247, 244, 244);
    border-radius: 5px;
    margin: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.card:hover {
    transform: scale(1.05);
    opacity: 1;
}

.card.sizeM {
    height: 40vh;
    /* width: 50vh; */
    cursor: pointer;
}

.card.design {
    border: solid 1px rgb(19, 125, 200);
}

.card_title {
    font-size: 1rem;
}

.card_position.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-content: center;
}

.card_position.uml {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}


/* mobile card*/
@media ((min-width: 400px) and (max-width: 619px)) {

    .card {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card.sizeM {
        height: 35vh;
        cursor: pointer;
    }

    .card_position {
        display: flex;
    }

    .card.design {
        border: solid 1px rgb(187, 24, 149);
    }

    .card_position.center {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        justify-content: center;
    }
}

/* tablette card */
@media ((min-width: 620px) and (max-width: 1024px)) {

    .card.sizeM {
        height: 35vh;
        cursor: pointer;
    }

    .card.design {
        border: solid 1px rgb(48, 187, 24);
    }

    .card_position.center {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        justify-content: center;
    }
}